name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      SKIP: no-commit-to-branch
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6.1.0
    - uses: pre-commit/action@v3.0.1
